<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpsystem.mapper.AppcategoryMapper">
    <select id="select" parameterType="Map" resultType="Map">
        select * from appcategory
    </select>
    <insert id="insert" parameterType="Map">
        insert into appcategory values (${appcategoryid},#{name})
    </insert>
    <update id="update" parameterType="Map">
        update appcategory
        set name = #{name} where appcategoryid = #{appcategoryid}
    </update>
</mapper>