<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpsystem.mapper.JpMapper">
    <select id="get" parameterType="Map" resultType="Map">
        select * from (select a.*,rownum rn from jobposting a where jppost like '%${find}%')
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
    <select id="getone" parameterType="Map" resultType="Map">
        select * from (select jp.*,r.rname,r.rtel,rownum rn from newJobposting a,jobposting jp,Recruiter r
        where a.jpid=jp.jpid and r.rid=jp.rid and a.jsid=${jsid} and jp.jppost like '%${find}%')
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
    <insert id="insert" parameterType="Map">
        insert into newjobposting values(${jpid},${jsid})
    </insert>
    <delete id="delete" parameterType="Map">
        delete from newjobposting where jpid=${jpid} and jsid=${jsid}
    </delete>
</mapper>