<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpsystem.mapper.JpMapper">
    <select id="get" parameterType="Map" resultType="Map">
        select * from (select a.*,rownum rn from jobposting a where jppost like '%${find}%')
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
    <select id="getone" parameterType="Map" resultType="Map">
        select * from (select a.*,rownum rn from newJobposting a where a.jsid=${jsid})
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
</mapper>