<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpsystem.mapper.JsMapper">
    <select id="getone" parameterType="Map" resultType="Map">
        select * from Jobseekers where jsid=#{jsid} and jspasswd=#{jspasswd}
    </select>
    <select id="getOne" parameterType="Map" resultType="Map">
        select * from Jobseekers where jsid=#{jsid} and jspasswd=#{jspasswd}
    </select>
    <select id="check" parameterType="Map" resultType="Map">
        select * from Jobseekers where jsid=#{id}
    </select>
    <insert id="zhuce" parameterType="Map" >
        insert into Jobseekers(jsid,jsname,jssex,jsbirth,jstel,jsaddress,jspasswd,jsemail) values(#{jsid},#{jsname},#{jssex},to_date(#{jsbirth},'YYYY-MM-DD'),#{jstel},#{jsaddress},#{jspasswd},#{jsemail})
    </insert>
    <update id="changepwd" parameterType="Map">
        update Jobseekers set jspasswd=#{jspasswd} where jsid=#{jsid}
    </update>
<!--    TODO 数据显示为null-->
    <update id="update" parameterType="Map">
        update Jobseekers
        set jsname=#{jsname},jssex=#{jssex},jsbirth=to_date(#{jsbirth},'YYYY-MM-DD'),
        jstel=#{jstel},jsaddress=#{jsaddress},jspasswd=#{jspasswd},jsemail=#{jsemail}
        where jsid=#{jsid}
    </update>
    <select id="select" parameterType="Map" resultType="Map">
        select * from (select a.*,rownum rn from Jobseekers a where jsname like '%${find}%')
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
    <delete id="delete" parameterType="Map">
        delete from Jobseekers where jsid in (${jsid})
    </delete>


</mapper>