<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpsystem.mapper.RMapper">
    <select id="getOne" parameterType="Map" resultType="Map">
        select * from Recruiter where rid=#{rid} and rpasswd=#{rpasswd}
    </select>
    <insert id="zhuce" parameterType="Map">
        insert into Recruiter(rid,rname,rsex,cid,rtel,rpasswd,remail) values(
                #{rid},#{rname},#{rsex},#{cid},#{rtel},#{rpasswd},#{remail})
    </insert>
    <select id="select" parameterType="Map" resultType="Map">
        select * from (select a.*,rownum rn from Recruiter a where rname like '%${find}%')
        b  where b.rn between (${pageIndex}*${pageSize}+1) and  (${pageIndex} * ${pageSize}+${pageSize})
    </select>
</mapper>